.button-header{
    height: 40px;
    padding: 6px;
    background-color: var(--color-brand-1);
    border: none;
    color: var(--color-mode);
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}


.buttons-div{
    font-weight: 600;
    padding: 4px;
    border: 1px solid #6741D9;
    color: var(--color-brand-1);
    border-radius: 5px;
    background-color: var(--color-brand-5);
    cursor: pointer;
}

.buttons-div{
    padding: 4px;
    border-radius: 7px;
    border: 1px solid transparent;
    font-weight: 600;
    background-color: var(--color-brand-5);
    color: var( --color-grey-2);
    cursor: pointer;
}

.ativo, .buttons-div:hover {
    background-color: var(--fixed-white);
    color: var(--color-brand-1);
    border: 1px solid var(--color-brand-1);
}

.button-secao{
    width: 60px;
    height: 22px;
    border: none;
    background-color: var(--color-grey-4);
    border-radius: 4px;
    color: var(--color-grey-2);
   
}

.button-trash{
    border: none;
    cursor: pointer;
}

.button-trash:hover{
    box-shadow: 2px 2px 5px var(--color-grey-2);
}



/* *******************MODAL******************* */
.button-close-modal{
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--fixed-white);
}



.button-close-modal:hover{
    font-weight: 600;

}

.button-type-value{
    width: 100%;
    height: 30px;
    border: none;
    font-size: 14px;
    background-color: var(--fixed-white);
    cursor: pointer;
    font-weight: 600;
}

.button-modal-value{
    width: 133px;
    height: 32px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.button-cancelar{
    background-color:var(--color-grey-4);
}

.button-inserir{
    background-color: var(--color-brand-1);
    color: var(--fixed-white);
}




@media (min-width: 700px){
    .button-header:hover{
        opacity: 70%;
    }
    .button-inserir:hover{
        opacity: 70%;
    }
    .button-cancelar:hover{
        opacity: 70%;
    }
    
    .button-inserir:hover{
        opacity: 70%;
    }
}